# envs
.venv/
.env
.ipynb_checkpoints/
__pycache__/
anaconda_projects/
.virtual_documents/

# data (keep the tree but ignore content)
data/*
!data/.gitkeep
!data/raw/
!data/interim/
!data/processed/

# OS
.DS_Store